.DS_Store
.rbenv-gemsets
*.rbc
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/log/*.log
/spec/dummy/tmp/
/spec/dummy/.sass-cache
