/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
fieldset.time-unit, fieldset.time-unit fieldset, fieldset.complex-date, fieldset.complex-date-range {
	font-size: 14px !important;
}

fieldset.time-unit legend {
	z-index: 5;
}

fieldset.complex-date label {
	margin: 0 5px 3px 0;
	display: block;
}

fieldset.complex-date .complex-date-end-wrapper {
	margin-top: 5px;
}

fieldset.complex-date .complex-date-end-wrapper label {
	display: inline;
}

fieldset.complex-date select, fieldset.complex-date input {
	width: 100px;
}

fieldset.complex-date select.intercalary {
	width: 60px;
}

fieldset.complex-date {
	width: 50%;
	float: left;
	clear: none;
}

fieldset.complex-date-range {
	width: 750px;
}
fieldset.complex-date .complex-date-field-wrapper {
  width: 100px;
}

fieldset.complex-date .complex-date-field-wrapper label{
  text-align: left;
}

fieldset.complex-date > div:nth-of-type(odd) {
  background: #efefef;
}

.complex-date-certainty-wrapper {
	float: right;
	margin-top: 1.5em;
  width: 45%;
}

.time-unit-range-wrapper {
	width: 420px;
}
