<div>
<%= f.label :frequency %><br/>
<%= f.collection_select(:frequency_id, TibetanFrequency.options, :id, :title, { :include_blank => true }) %>
</div><br/>
<fieldset class="complex-date">
  	<legend>Tibetan Date</legend>
<%= render :partial => "admin/tibetan_dates/form_fields", :locals => {:f => f, :object_name => :date} %>
</fieldset>