<%= render :partial => 'top' rescue nil %>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= ts('Date')%></h6>
  </div>
  <div class="panel-body">
<%= render :partial => 'new' %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
<%= render :partial => 'bottom' rescue nil %>
