<% form_for @date, :url => time_units_path do |f| -%>
<fieldset>
	<legend>Edit Date</legend>

	<%= render :partial => @partial %>
	
	<p>
		<%= f.submit "Submit", :disable_with => 'Submitting...' %>
	</p>
</fieldset>		
<% end -%>